<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="lib/vue.js"></script>
    
    <style>
        .red{
            background: red;
        }

        .green{
            background: green;
        }

        #onefont{
            font-size: 18px;
        }

        #twofont{
            font-size: 24px;
        }

        img{
            width: 100px;
            display: block;
        }
    </style>
</head>
<body>


    <div id="box">
        <!--双胡子绑定数据-->
        {{myname}}-{{myage}}

        <!--:动态绑定属性-->
        <div :class="wtichcolor" :id="fontsize"  >切换背景颜色</div>
        <div :class="iscolor?'red':'green'">切换背景颜色</div>

        <!--v-bind可以省略，动态绑定属性-->
        <img v-bind:src="imgpath" alt="">

        <!--@click v-on:click绑定事件-->
        <!-- <button @click="handleChange()">change</button> -->
        <button v-on:click="handleChange()">change</button>

        <!--v-show v-if 指令 -->
        <div v-show="isShow">动态隐藏显示</div>
        <div v-if="isCreate">动态创建和删除</div>

        <!-- v-for 列表渲染指令 -->
        <ul>
            <li v-for="(item,index) in list">
                {{item}}-{{index}}
            </li>
        </ul>
    </div>
    <script>
        

        

        var vm=new Vue({
            el:"#box",
            data:{
                myname:"xym",
                myage:18,
                fontsize:"onefont",
                wtichcolor:'red',
                iscolor:false,
                imgpath:"",
                isShow:false,
                isCreate:false,
                list:["111","222","ccc","ddd"]
            },
            methods:{
                handleChange(){
                    console.log("handleChange",this)
                    this.myname="zenglihua"
                    this.myage=20
                    this.wtichcolor='green'
                    this.iscolor=true
                    this.fontsize="twofont"
                    this.imgpath="https://static.maizuo.com/pc/v5/usr/movie/149ddb9a7f64e06ed474d963cfc6c405.jpg?x-oss-process=image/quality,Q_70"
                    this.isShow=!this.isShow
                    this.isCreate = !this.isCreate
                }
            }
        })

    </script>
</body>
</html>