<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="lib/vue.js"></script>
</head>
<body>
    <div id="box">
        <!-- {{mytext}} -->

        <textarea v-model="mytext" name="" id="" cols="30" rows="10"></textarea>
        <div>
            <div>用户名：<input type="text" v-model="mytext"></div>
            <input type="checkbox" v-model="isRemember">记住用户
            <button @click="handleLogin">登录</button>
        </div>


        <div>
            <h2>注册页面-兴趣爱好</h2>
            <input type="checkbox" v-model="checkList" value="vue">vue
            <input type="checkbox"  v-model="checkList" value="react">react
            <input type="checkbox"  v-model="checkList" value="wx">小程序
        </div>

        <div>
            <h2>性别选择</h2>
            <input type="radio" v-model="select" value="man">男
            <input type="radio" v-model="select" value="woman">女
        </div>

    </div>



    <script>
        var vm=new Vue({
            el: "#box",
            data: {
                mytext: localStorage.getItem("username"),
                isRemember:true,
                checkList:["vue","react"],
                select:"man"
             },
             methods: {
                handleLogin(){
                    if(this.isRemember){
                        localStorage.setItem("username",this.mytext)
                    }

                    console.log(this.mytext,this.select,this.checkList)
                }
              }
        })
    </script>
</body>
</html>